.myButton {
    background-color: #ef520f82;
    border: none;
    margin-bottom: 30px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
    font-family: "MuseoModerno", serif;
}

.button-container {
    display: flex;
    justify-content: center;
}

.myButton:hover {
    background-color: #ef520fe6;
}