.map-feed {
    display: flex;
    flex-direction: row;
    margin: 30px;
    padding: 20px;
    border-radius: 30px;
    background-color: #FBF5E5;
    justify-content: space-evenly;
}

@media only screen and (max-width: 600px) {
    .map-feed {
        flex-direction: column;
        justify-content: space-evenly;
    }
}